
<article class="main-container shadow-lg">
 <div class="py-5 border-bottom">
      <h2 class="fw-bold mb-4">Featured Project</h2>
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <h5 class="fw-bold">Room Reservation System</h5>
          <p class="text-muted">HTML, CSS, JavaScript, Bootstrap</p>
          <p class="mb-0">
            Developed a fully responsive website that lets users search rooms by preferences, view details, 
            and add them to a cart for seamless booking experience.
          </p>
        </div>
      </div>
    </div>
</article>